@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
    transition:.5s;
}
body {
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    font-style: normal;
    line-height: 1.8rem;
    font-size: 0.9rem;
    color: #333;
}
#top_nav {
    display: flex;
    justify-content: space-between;
    background-color: #171717;
    color: white;
    padding: 1vh 4vw;
    font-size: 0.8rem;
}
#top_nav > ul,
#top_nav > div,
#top_nav > div > ul {
    display: flex;
    gap: 1.25rem;
}
a:hover {
    color: #ff5951;
}
#top_nav > div > ul:nth-child(2) {
    gap: 0.625rem;
}
#bottom_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4vh 4vw;
}
#bottom_nav > div,
#bottom_nav > div > ul {
    display: flex;
    gap: 2vw;
}
#basket {
    position: relative;
    display: inline-block;
}
#basket > span {
    line-height: normal;
    position: absolute;
    top: -0.5vh;
    left: 0.6vw;
    color: white;
    border-radius: 50%;
    font-size: 0.7rem;
    background-color: red;
    padding: 0 0.3rem;
}
#bars {
    color: red;
    font-size: 1.2rem;
}
#menu > li:nth-child(1) {
    position: relative;
    display: inline-block;
}
#menu > li:nth-child(1) > ul {
    position: absolute;
    display: none;
    width: max-content;
    padding: 1vh 1vw;
    background-color: white;
}
#menu > li:nth-child(1):hover > ul {
    display: block;
}
#main_top {
    display: flex;
    justify-content: space-between;
    background-image: url('imgs/background-image-2.webp');
}
#main_top_content {
    margin: 20vh 20vw 20vh 0;
    color: white;
    font-size: 2rem;
}
#main_top_content > h1 > span {
    display: block;
    font-size: 4rem;
    margin: 3rem 0 3rem;
}

#main_top_content > a  {
    background-color: #ff5951;
    display: block;
    width: max-content;
    padding: 1rem 3rem;
    font-size: 1rem;
    font-weight: 700;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: .5s;
}

#main_top_content > a:hover {
    background-color: black;
}

#next_button,
#prev_button {
    opacity: 0;
    margin: auto 6vw;
    font-size: 3rem;
    color: white;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    align-content: center;
    text-align: center;
    transition: .5s;
    cursor: pointer;
    filter: grayscale(100%);
}
#main_top:hover > #prev_button,
#main_top:hover > #next_button {
    opacity: 1;
    margin: auto 2vw;
}

#prev_button {
    background-image: url('imgs/background-image-1.webp');
    background-size: cover;
    background-position: 50% 50%;
}

#prev_button:hover, #next_button:hover {
    filter: unset;
}

#next_button {
    background-image: url('imgs/background-image-2.webp');
    background-size: cover;
    background-position: 50% 50%;
}

#course_categories {
    text-align: center;

}

#course_categories > h2 {
    margin-top: 6rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: #ff5951;
    letter-spacing: 1px;
}

#course_categories > h1 {
    font-size: 3rem;
    margin: 1rem 0;
    letter-spacing: 3px;
}

#course_categories > hr {
    width: 3rem;
    margin: 0 auto;
    border-top: 2px solid #ff5951;
}

#course_categories > p {
    margin: 0 25vw;
    letter-spacing: 1px;
}

#course_categories > div {
    margin: 5rem 0 3rem;
    display: flex;
    justify-content: center;
    gap: 2vw;
}

#course_categories > div > div {
    color: white;
    padding: 1rem;
    border-radius: 5px;
    width: 11rem;
    height: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#corse_categories i {
    font-size: 3rem;
}
#course_categories > div > div:hover i {
    font-size: 3rem;
}
#course_categories > div > div:nth-child(1) {
    background-color: #10c45c;
}
#course_categories > div > div:nth-child(2) {
    background-color: #fdc735;
}
#course_categories > div > div:nth-child(3) {
    background-color: #307ad5;
}
#course_categories > div > div:nth-child(4) {
    background-color: #e948ae;
}
#course_categories > div > div:nth-child(5) {
    background-color: #48a7d4;
}
#course_categories > div > div:nth-child(6) {
    background-color: #6fc191;
}
#course_categories > a {
    background-color: #ff5951;
    display: block;
    width: max-content;
    padding: 1rem 4rem;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    transition: .5s;
    margin: 0 auto;
    filter: drop-shadow(10px 10px 10px #ff5951)
}
#course_categories > a:hover {
    background-color: black;
    filter: drop-shadow(10px 10px 10px black);
}
#bottom_footer {
    background-color: #0a0a0a;
    color: white;
    padding: 1rem 0;
    text-align: center;
}
#top_footer {
    margin-top: 3vh;
    background-color: #1b1b1b;
    color: white;
    padding: 15vh 10vw;
    display: flex;
    gap: 1vw;
}
#top_footer > div:nth-child(-n + 3) {
    border-right: 1px solid #2f2f2f;
}
#top_footer > div:nth-child(1) > ul {
    display: flex;
}
#top_footer > div:nth-child(1) > ul > li {
  gap: 1vw;
  border-radius: 50%;
  border: 1px solid #ff5951;
  width: 2rem;
  height: 2rem;
  text-align: center;
  color: #ff5951;
}
#top_footer > div:nth-child(1) > ul > li:hover {
    background-color: #ff5951;
    color: white;
}
#bottom_footer a {
    color: #ff5951;
    text-decoration: none;
}
#bottom_footer a:hover {
    background-color: #fc8b87;
}
@media (max-width: 800px) {
    #top_nav {
        display:block;
    }
    #top_nav > * {
        justify-content: center;
    }
    #bottom_nav > div > ul:nth-child(1) {
        display: none;
    }
    #bars {
        display: block;
    }
}

